@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans&display=swap');

*{
    margin:0;
    padding: 0;
    border:none;   
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(248, 235, 242);
    color: black
}

h1, h2 {
    font-family: 'Bitter', serif;
}

/*nav-bar*/

header{
    height:150px;
    width:100%;
}

.head-list{
    font-size: 120%;
    letter-spacing: 5px; 
    max-width:100%;
    max-height: 100%;
    position:absolute;
    top:75px; 
    right:50px;  
    font-family: 'Bitter', serif;
    font-weight: bolder;
}

.head-list li {
    float:right;
    list-style-type: none;
    width:150px;
    height: 10px;
}

.head-list a {
    text-decoration: none;
    color:inherit;
    float: right;   
}

.head-list a:hover {
    font-size: 20px;
    color: #d813d2;
}

.active {
    border-bottom: 1px solid black;
}

/*logo*/
img {
    max-width:100%;
    max-height: 100%;     
}

.logo {
    height: 150px;
    width: 300px;    
}

/*main image*/
#main-image {
    height: 400px;
    width: 100%;
    background:url('../images/main\ image.webp') no-repeat center center;
    background-color: rgb(80, 16, 80, 0.30);
    filter: drop-shadow(0 2px 4px #000);
 }
    

/*about section of main page*/
.learn {
    text-align: center;
    padding-top:20px;
}

.about-me, .about-class{
    text-align: center;
    font-weight: 250;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
 }

 p {
    padding-bottom: 20px;
    text-align: center;}

/*mandala image*/
#mandala {
        height: 450px;
        width: 100%;
        background:url('../images/mandala.jpg') no-repeat center center;
        background-color: rgb(80, 16, 80, 0.30); 
        filter: drop-shadow(0 2px 4px #000);
    }

/*footer*/
footer{
    display:flex;
    height: 150px;
    width: 100%;
    justify-content:center;
    align-items:center;
}

/* sets the list horizontally*/
.social-networks > li {
    display: inline;
    float:left;
    margin:20px;
}

/* appearance of list items*/
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 3% 5%;
    color: #3a3a3a;
}

/*sets pink when hover*/
li i:hover {
    color: #d813d2;
}

/*sets nav bar horizontally*/
.footer-nav > li{
    display: inline;
    float:left;  
 }

 .footer-nav a {
    font-size: 120%;
    text-decoration: none;
    position: relative;
    left:158px;
    padding:30px;
    letter-spacing: 5px;  
    color: #3a3a3a;
}

li a:hover {
    color: #d813d2;
}

/*classes page styling*/

/*style*/
.schedule {
    color:black;
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: rgb(80, 16, 80, 0.30); 
    box-sizing: border-box; 
    border: 2px solid #fafafa;
    width:100%;
    }

    .day {
        text-decoration: underline;
        text-transform: uppercase;
    }

/*times section style*/
.times div{
    width:30%;
    height:180px;
    background-color: rgba(0, 0, 0, .5);   
    text-align: center;
    color: #fafafa;
    border: 4px solid #fafafa;
    float:left;
    position: relative;
    left:80px;  
    padding-top: 10px;
}
    
    .more-info div {
    width:30%;
    height:300px;
    text-align: center;
    color: #fafafa;
    background-color: rgba(0, 0, 0, .5);
    border: 4px solid #fafafa;
    float:left;
    position: relative;
    left:80px;
    padding-top: 10px;
}

    .link {
        color: #fafafa;  
    
    }
    a:hover{
       color:#d813d2;
       font-size: xx-large;
    }

    


    /*background image of crochet and candle*/
    .crochet-candle {
        background-image: url('../images/crochet-candle.jpg');
        background-repeat: no-repeat;      
        background-size:cover;
        background-position: center;
        width: 100%;    
        overflow: hidden;     
    }

    /*Gallery*/

    .galleryhead {
        background-color: rgb(80, 16, 80, 0.30); 
        padding-left: 20px;
        background-color: rgb(80, 16, 80, 0.30); 
        box-sizing: border-box; 
        border: 2px solid #fafafa;
        width:100%;
    }
    #photos {
        clear: both;
        line-height: 0;
        column-count: 4;
        column-gap: 0px;
        background-color: rgb(80, 16, 80, 0.30);
        filter: drop-shadow(2px 4px 6px #000);
    }

    #photos > img {
        width: 100%;    
    }
    
/*Form*/
.ma-head {
    text-align: center;
    padding-top: 30px;
    padding-bottom:30px;
    margin-right: 20%;
    margin-left:20%;
}

.woman-image {
    background-image: url(/assets/images/woman\ crochet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(2px 4px 8px #000);
}

.form-section
{
    height:650px;
    width:50%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:100px;
    background-color: rgb(248, 235, 242, 0.30);     
 }


.text-input{
    background:transparent;
    color:black;
    width:100%;
    height: 25px;
    margin: 5px 0 20px;
    border: 4px solid black;
    border-radius:10px;  
}

.text-input:hover, textarea:hover {
    border-color:#d813d2;
}

.form-section h3 {
    color:black;
    margin-bottom:20px;
    text-align: center;
}

textarea {
    background:transparent;
    color:black;
    border: 4px solid black;
    border-radius:10px;     
}

.submit {
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px 32px 15px 32px;
    font-size: 100%;
    background-color: black;
    color:white;
    display:block;
    position:relative;
    left:200px
}

.submit:hover {
    background-color:#d813d2;
    color:black;
}

/*Media Queries*/

/*for screens max-width 890px -medium*/

@media screen and (max-width: 890px) {
    header{
        height:150px;
        width:100%;
        background-color: #d813d2;
    }
    .head-list{
        max-width:25%;
    }
    .head-li{
        padding-top:10px;
        position:relative;
        top:-50px;
    }
 /*footer*/
    .footer-nav{
    max-width:25%;}
}
/*for screen max-width 768px*/
@media screen and (max-width:768px) {
    header {
        height:150px;
        width:100%
    }

    .logo {
        height: 80px;
        width: 150px;
    }

    
} 
    
/*for screens max-width 425px*/
@media screen and (max-width: 425px){

header {
    height:150px;
    width:100%;
    background-color:orange
}
.logo{
height: 80px;
width: 150px;
background-color:aqua ;
}

/*Contact Page*/
textarea {
    max-width: 200px;
}

footer{
    height:50px;
    background-color: greenyellow;  
}
.social-networks > li {
        margin:0;
        font-size: 80%;
        float:left;
        clear:left;
        position: relative;
        top:40px;
        left:-40px;
    }
    .fnav a{
        padding-left:10px;
        position:relative;
        top:30px;
        left:-20px;       
} 
.footer-nav > li {
   font-size: 80%;
}
}


/*for screens max-width 320px*/

@media screen and (max-width: 320px) {
    header{
        height:150px;
        width:100%;
    }
    .logo{
    height: 80px;
    width: 150px;
}

/*footer*/

footer{
    height:50px;  
}
.social-networks > li {
        margin:0;
        font-size: 80%;
        float:left;
        clear:left;
        position: relative;
        top:40px;
        left:-40px;
    }
    .fnav a{
        padding-left:10px;
        position:relative;
        top:30px;
        left:-20px;       
} 
.footer-nav > li {
   font-size: 80%;
}
}








