@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans&display=swap');

*{
    margin:0;
    padding: 0;
    border:none;   
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(248, 235, 242);
    color: black
}

h1, h2 {
    font-family: 'Bitter', serif;
}

/*nav-bar*/

header{
    height:150px;
    width:100%;
}

.head-list{
    font-size: 120%;
    letter-spacing: 5px; 
    max-width:100%;
    max-height: 100%;
    position:absolute;
    top:75px; 
    right:50px;  
    font-family: 'Bitter', serif;
    font-weight: bolder;
}

.head-list li {
    float:right;
    list-style-type: none;
    width:150px;
    height: 10px;
}

.head-list a {
    text-decoration: none;
    color:inherit;
    float: right;   
}

.head-list a:hover {
    font-size: 20px;
    color: #d813d2;
}

.active {
    border-bottom: 1px solid black;
}

/*logo*/
img {
    max-width:100%;
    max-height: 100%;     
}

.logo {
    height: 150px;
    width: 300px;    
}

/*main image*/
#main-image {
    height: 400px;
    width: 100%;
    background:url('../images/main\ image.webp') no-repeat center center;
    background-color: rgb(80, 16, 80, 0.30); }

/*about section of main page*/
.learn {
    text-align: center;
}

.about-me, .about-class{
    text-align: center;
    font-weight: 250;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-decoration: underline;
 }

 p {
    padding-bottom: 20px;
    text-align: center;}

/*mandala image*/
#mandala {
        height: 450px;
        width: 100%;
        background:url('../images/mandala.jpg') no-repeat center center;
        background-color: rgb(80, 16, 80, 0.30); 
    }

/*footer*/
footer{
    display:flex;
    height: 150px;
    width: 100%;
    justify-content:center;
    align-items:center;
}

/* sets the list horizontally*/
.social-networks > li {
    display: inline;
    float:left;
    margin:20px;
}

/* appearance of list items*/
.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 3% 5%;
    color: #3a3a3a;
}

/*sets pink when hover*/
li i:hover {
    color: #d813d2;
}

/*sets nav bar horizontally*/
.footer-nav > li{
    display: inline;
    float:left;  
 }

 .footer-nav a {
    font-size: 120%;
    text-decoration: none;
    position: relative;
    left:158px;
    padding:30px;
    letter-spacing: 5px;  
    color: #3a3a3a;
}

li a:hover {
    color: #d813d2;
}

/*classes page styling*/

/*style*/
.schedule {
    color:black;
    text-align: center;
    padding-bottom: 20px;
    background-color: rgb(80, 16, 80, 0.30);
    }

/*times section style*/
.times div {
    width:33%;
    height: 300px;
    /*
    float: left;
    padding: 30px 0 0 10px;
    text-align: center;
    border: 2px solid #fafafa;
    box-sizing: border-box;
    color: #fafafa;
    */
    background-color: rgba(0, 0, 0, .4);
    }
